# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\dane\STUDIA\Bezpieczenstwo systemow komputerowych\Projekt\BSK_EncryptedTransfer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
